.main-contents {
  display: flex;
  justify-content: space-between;
  /* background-color: silver; */
  height: 20vh;
  margin-bottom: 25px;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d9dee3;
  border-radius: 0.5rem;
}

.main-contents2 {
  display: flex;
  justify-content: space-between;
  /* background-color: silver; */
  height: 450px;
  margin-bottom: 25px;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d9dee3;
  border-radius: 0.5rem;
}

/* .test {
  margin: auto;
  padding: 25px;
  border: solid 1px salmon;
} */


.weekly-plan {
  margin: 0;
  padding: 25px;
  border: solid 1px salmon;
}

.weekly-plan-table {
  width: 100%;
}


.carousel-img {
  width: inherit;
  height: inherit;
  background-size: cover;
}

.carousel-img {
  width: 200px;
  height: 200px;
}

.day-graph {
  margin: 0;
  padding: 25px;
  border: solid 1px salmon;
}

.album-carousel {
  margin: 0;
  padding: 25px;
  border: solid 1px salmon;
}

.easy-checker {
  margin: 0;
  padding: 25px;
  border: solid 1px salmon;
}

#easy-checker-title {
  margin: 0 0 25px 0;
}

.chart-description {
  color: red;
}

.input-group {
  margin-bottom: 20px;
}

.easy-checker-btn>button {
  margin: 10px 0 0 0;
  float: right;
}


.badge-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.card-img {
  max-width: fit-content;
  max-height: fit-content;
  width: 120px;
  height: 120px;
}

.chart-wrapper {
  margin-bottom: 0;
}


.test {
  color: #207fdf;
}